@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
}

:root {
	--transparent-black: rgba(0, 0, 0, .5);
	--text-color: #dfdfdf;
	--background-color: #111111;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: "Averia Libre";
}

kbd {
	font-family: monospace;
	font-weight: bold;
	font-style: normal;
}

.invisible {
	opacity: 0;
}

/* <Game /> */

.game[data-score="0"] {
	--shade-of-grey: 1;
}

.game[data-score="1"] {
	--shade-of-grey: calc(8 / 9);
}

.game[data-score="2"] {
	--shade-of-grey: calc(7 / 9);
}

.game[data-score="3"] {
	--shade-of-grey: calc(6 / 9);
}

.game[data-score="4"] {
	--shade-of-grey: calc(5 / 9);
}

.game[data-score="5"] {
	--shade-of-grey: calc(4 / 9);
}

.game[data-score="6"] {
	--shade-of-grey: calc(3 / 9);
}

.game[data-score="7"] {
	--shade-of-grey: calc(2 / 9);
}

.game[data-score="8"] {
	--shade-of-grey: calc(1 / 9);
}

.game[data-score="9"] {
	--shade-of-grey: 0;
}

.game.layout-image {
	display: flex;
	height: 100vh;
	flex-direction: column;
	justify-content: center;
	gap: 1rem;
	align-items: center;
}

/* <ProgressButton /> */

.progress-button {
	display: block;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

/* <Portrait /> */
.portrait {
	position: absolute;
	z-index: 2;
	bottom: 0;
	right: 0;
	animation-name: slide-in;
	animation-duration: 0.5s;
}

.portrait img {
	display: block;
	image-rendering: pixelated;
	height: calc(100vh - 2rem);
	width: 100vw;
	object-fit: contain;
	object-position: right bottom;
	filter: grayscale(var(--shade-of-grey)) drop-shadow(0.2rem 0.2rem 0.2rem #000000) drop-shadow(0.2rem -0.2rem 0.2rem #000000) drop-shadow(-0.2rem 0.2rem 0.2rem #000000) drop-shadow(-0.2rem -0.2rem 0.2rem #000000);
	transition: filter 2s;
}
  

/* <Line /> */

.line, .no-story-yet {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 1rem;
	margin: 0;
	z-index: 10;
}

.layout-image .line {
	position: static;
}

.line.narrative, .no-story-yet {
	top: 0;
	bottom: 0;
	margin: 0;

	background: var(--transparent-black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 1rem;	
}

.no-story-yet {
	font-size: .75rem;
	font-style: italic;
}

.line.narrative .speaker {
	display: none;
}

.line.dialog .speaker {
	background: #808080;
	border-top: solid 1px #808080;
	border-right: solid 1px #808080;
	border-top-right-radius: .5rem 100%;
	display: inline-block;
	font-size: .75rem;
	padding: .125rem 1rem .125rem;
}

.line.dialog .text {
	padding: 1rem;
	color: var(--text-color);
	background: var(--transparent-black);
	border-top: solid 1px #808080;
	border-bottom: solid 1px #808080;
}

.layout-image .line {
	margin: 0 1rem;
}

.layout-image .line .speaker {
	display: block;
	background: transparent;
	color: #808080;
	border: none;
	padding: 0;
}

.layout-image .line .text {
	background: transparent;
	border: none;
	padding: 0;
	text-align: center;
}

/* Specific characters */
.line.dialog.character-natalie .speaker {
	background: #3943a6;
}

.line.dialog.character-zoey .speaker {
	background: #3a7748;
	}

.line.dialog.character-chanting .text {
	color: #808080;
	animation: pulsating 2s linear infinite;
}

/* <SplashImage /> */
.game.layout-normal .splash-image {
	display: none;
}

.splash-image {
	display: block;
	border: solid 1px #808080;
	padding: .5rem;
	text-align: center;
	max-height: 50vh;
}

/* <Choices /> */

.choices-wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.choices {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: .5rem;
}

.choices button {
	display: block;
	font: inherit;
	color: inherit;
	background: var(--transparent-black);
	border: solid 1px #808080;
	padding: .25rem .5rem;
	border-radius: .125rem;
}

.choices button.active {
	border: solid 1px #6bfffb;
}

.choices-wrapper .current-question {
	font-size: .8rem;
	font-style: italic;
	margin-bottom: 1rem;
	text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
}

/* Back button */
.choices.board [data-index="0"], .choices.person [data-index="0"] {
	position: absolute;
	top: .5rem;
	left: .5rem;
	border: none;
	padding: 0;
	font-size: .75rem;
	color: var(--text-color);
}
.choices.board [data-index="0"]::before, .choices.person [data-index="0"]::before {
	content: "« ";
}

.choices.board [data-index="0"].active, .choices.person [data-index="0"].active {
	color: #6bfffb;
}

/* Ouija */
.choices.board {
	min-width: 50%;
	max-width: calc(100% - 2rem);
	flex-direction: row;
	flex-wrap: wrap;
	background: #e7cfb4;
	color: #563232;
	justify-content: space-between;
	padding: .5rem;
	box-shadow: .25rem .25rem .25rem #808080;
}

.choices.board button {
	border: solid 1px transparent;
	text-transform: uppercase;
	font-weight: bold;
	background: transparent;
}
.choices.board button.active {
	border: dotted 1px #563232;
	text-transform: uppercase;
	font-weight: bold;
	background: transparent;
}
.choices.board [data-index="1"], .choices.board [data-index="2"] {
	width: calc(50% - 1rem);
	font-size: 1.5rem;
}

/* Room (main menu) */
.choices.room {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.choices.room [data-index="3"] {
	grid-column-start: 1;
	grid-column-end: 4;
}

/* Progress bar */
.progress {
	position: absolute;
	border: solid 1px #64b8c9;
	height: .25rem;
	bottom: .375rem;
	left: .25rem;
	right: .25rem;
	border-radius: .125rem;
	overflow: hidden;
	z-index: 10;
}

.progress .target {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #404040;
	transition: width 1s;
}

.progress .score {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	background: #6bfffb;
	transition: width 2s;
}

/* <MainMenu /> */

.game:has(.menu) .no-story-yet {
	display: none;
}

.menu-wrapper {
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
	z-index: 150;
	background: var(--transparent-black);
}

.menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #e7cfb4;
	color: #563232;
	box-shadow: .25rem .25rem .25rem #808080;
	padding: 1rem;
}

.menu h1 {
	margin-bottom: 1rem;
}

.menu button {
	display: block;
	font: inherit;
	color: inherit;
	border: none;
	background: transparent;
	padding: .25rem .5rem;
	border-radius: .25rem;;	
}

.menu button.active {
	background: var(--transparent-black);
	color: var(--text-color);
}



/* Animations */

@keyframes pulsating {
	0% {color: #808080;}
	50% {color: #ffbbbb;}
	100% {color: #808080;}
}

/* Large screens */

@media screen and (min-width: 800px) {
	:root {
		font-size: 200%;
	}
}